<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
<div th:fragment="nav" style="max-height: 0">
    <!--Custommer Thông Báo Security -->

    <!-- This is the modal -->


    <!--END-->
    <header>
        <div class="container">
            <div class="row">
                <div id="header">
                    <div class="header-container">
                        <div class="header-logo"><a href="index-2.html" title="Car HTML" class="logo">
                            <div><img src="" alt=""></div>
                        </a></div>

                        <div class="header__nav">
                            <div class="header-banner">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    <div class="assetBlock">
                                        <div style="height: 20px; overflow: hidden;" id="slideshow">
                                            <p style="display: block;">Giảm giá lên đến <span>50%</span> Hãy sẵn
                                                sàng cho mùa hè! </p>
                                            <p style="display: none;">Tiết kiệm lên đến <span>40%</span> u đãi có
                                                hạn, nhanh tay!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-lg-6 col-xs-12 col-sm-6 col-md-6 call-us"><i
                                        class="fa fa-clock-o"></i> Th2 - Th6 : 9h sáng đến 6h chiều <i
                                        class="fa fa-phone"></i> +1 800 789 0000
                                </div>
                            </div>
                            <div class="fl-header-right">
                                <div class="fl-links">
                                    <div class="no-js"><a title="" class="clicker"></a>
                                        <div class="fl-nav-links">
                                            <div class="language-currency">
                                                <div class="fl-language">
                                                    <h3>Ngôn Ngữ</h3>
                                                    <ul class="lang">
                                                        <li><a href="#"> <img th:src="@{/images/english.png}"
                                                                              alt="English"> <span>Tiếng Anh</span> </a>
                                                        </li>
                                                        <li><a href="#"> <img th:src="@{/images/francais.png}"
                                                                              alt="French"> <span>Tiếng Việt</span> </a>
                                                        </li>
                                                        <!-- <li><a href="#"> <img th:src="@{/images/german.png}" alt="German">
                                                                <span>Tiếng Đức</span> </a></li> -->
                                                    </ul>
                                                </div>
                                                <!--fl-language-->
                                                <!-- END For version 1,2,3,4,6 -->
                                                <!-- For version 1,2,3,4,6 -->
                                                <div class="fl-currency">
                                                    <h3>Tiền tệ</h3>
                                                    <ul class="currencies_list">
                                                        <li><a href="#" title="EGP"> <strong>£</strong> Bảng Anh</a>
                                                        </li>
                                                        <li><a href="#" title="EUR"> <strong>€</strong> Euro</a>
                                                        </li>
                                                        <li><a href="#" title="USD"> <strong>$</strong> Đô la Mỹ</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--fl-currency-->
                                                <!-- END For version 1,2,3,4,6 -->
                                            </div>
                                            <h3>Tài khoản của tôi</h3>
                                            <ul class="links">
                                                <li><a th:href="@{/home/login}" title="My Account">Đăng nhập</a>
                                                </li>
                                                <li><a th:href="@{/home/dangky}" title="Wishlist">Đăng ký</a></li>
                                                <li><a th:href="@{/logout}" title="Wishlist">Đăng Xuất</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-cart-contain">
                                    <div class="mini-cart">
                                        <div class="basket"><a th:href="@{/home/member/shopping-cart}"><span> 2 </span></a>
                                        </div>
                                        <!--<div class="fl-mini-cart-content" style="display: none;">
                                            <div class="block-subtitle">
                                                <div class="top-subtotal">2 sản phẩm, <span
                                                        class="price">$259.99</span> </div>
                                                &lt;!&ndash;top-subtotal&ndash;&gt;
                                                &lt;!&ndash;pull-right&ndash;&gt;
                                            </div>
                                            &lt;!&ndash;block-subtitle&ndash;&gt;
                                            <ul class="mini-products-list" id="cart-sidebar">
                                                <li class="item first">
                                                    <div class="item-inner"><a class="product-image"
                                                            title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White"
                                                            href="#l"><img
                                                                alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White"
                                                                th:src="@{/products-images/p4.jpg}"></a>
                                                        <div class="product-details">
                                                            <div class="access"><a class="btn-remove1"
                                                                    title="Remove This Item" href="#">Xóa</a> <a
                                                                    class="btn-edit" title="Edit item" href="#"><i
                                                                        class="icon-pencil"></i><span
                                                                        class="hidden">Chỉnh sửa</span></a> </div>
                                                            &lt;!&ndash;access&ndash;&gt;
                                                            <strong>1</strong> x <span class="price">$179.99</span>
                                                            <p class="product-name"><a
                                                                    href="accessories-detail.html">timi &amp; leslie
                                                                    Sophia Diaper Bag...</a></p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item last">
                                                    <div class="item-inner"><a class="product-image"
                                                            title="JP Lizzy Satchel Designer Diaper Bag - Slate Citron"
                                                            href="#"><img
                                                                alt="JP Lizzy Satchel Designer Diaper Bag - Slate Citron"
                                                                th:src="@{/products-images/p3.jpg}"></a>
                                                        <div class="product-details">
                                                            <div class="access"><a class="btn-remove1"
                                                                    title="Remove This Item" href="#">Xóa</a> <a
                                                                    class="btn-edit" title="Edit item" href="#"><i
                                                                        class="icon-pencil"></i><span
                                                                        class="hidden">Chỉnh sửa</span></a> </div>
                                                            &lt;!&ndash;access&ndash;&gt;
                                                            <strong>1</strong> x <span class="price">$80.00</span>
                                                            <p class="product-name"><a
                                                                    href="accessories-detail.html">JP Lizzy Satchel
                                                                    Designer Diaper Ba...</a></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="actions">
                                                <button class="btn-checkout" title="Checkout" type="button"
                                                    onClick="window.location=checkout.html"><span>Thanh
                                                        toán</span></button>
                                            </div>
                                            &lt;!&ndash;actions&ndash;&gt;
                                        </div>-->
                                        <!--fl-mini-cart-content-->
                                    </div>
                                </div>
                                <!--mini-cart-->
                                <div class="collapse navbar-collapse">
                                    <form th:action="@{'/home/listcar?page='+1}" method="get" class="navbar-form" role="search">
                                        <!--<div class="input-group">
                                            <input type="text" name="search" placeholder="Search">
                                            <button type="submit" class="search-btn"> <span
                                                    class="glyphicon glyphicon-search"> <span
                                                    class="sr-only">Tìm kiếm</span> </span> </button>
                                            <span class="input-group-btn">
                                                    <button type="submit" class="search-btn"> <span
                                                            class="glyphicon glyphicon-search"> <span
                                                            class="sr-only">Tìm kiếm</span> </span> </button>
                                                </span>
                                        </div>-->
                                        <input type="text" />
                                        <!--<button>vxcvxcvxcvxc</button>-->
                                    </form>
                                </div>
                                <!--links-->
                            </div>
                            <div class="fl-nav-menu">
                                <nav>
                                    <div class="mm-toggle-wrap">
                                        <div class="mm-toggle"><i class="fa fa-bars"></i><span
                                                class="mm-label">Menu</span></div>
                                    </div>
                                    <div class="nav-inner">
                                        <!-- BEGIN NAV -->
                                        <ul id="nav" class="hidden-xs">
                                            <li class="active"><a class="level-top" th:href="@{/home}"><span>Trang
                                                            chủ</span></a></li>
                                            <li class="mega-menu"><a class="level-top" href="grid1.html"><span>Phụ
                                                            kiện</span></a>
                                                <div class="level0-wrapper dropdown-6col"
                                                     style="left: 0px; display: none;">
                                                    <div class="container">
                                                        <div class="level0-wrapper2">
                                                            <div class="nav-block nav-block-center">
                                                                <!--mega menu-->
                                                                <ul class="level0">
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Âm
                                                                                    thanh</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bộ khuếch
                                                                                            đại</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bộ phận
                                                                                            lắp đặt</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Diễn
                                                                                            giả</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Âm thanh
                                                                                            nổi</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Loa siêu
                                                                                            trầm</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Phụ kiện thân
                                                                                    xe</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bộ
                                                                                            đệm</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Cửa</span></a>
                                                                            </li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Chắn
                                                                                            bùn</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Lưới</span></a>
                                                                            </li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Máy hút
                                                                                            mùi</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Ngoại
                                                                                    thất</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Phụ kiện
                                                                                            giường ngủ</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đồ bó
                                                                                            sát</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Lưới tùy
                                                                                            chỉnh</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bao
                                                                                            xe</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bộ đệm
                                                                                            địa hình</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Nội
                                                                                    thất</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đồng hồ
                                                                                            đo tùy chỉnh</span></a>
                                                                            </li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bộ dụng
                                                                                            cụ Dash</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Bọc
                                                                                            ghế</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Tay
                                                                                            lái</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Sun
                                                                                            Shades</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Thắp
                                                                                    sáng</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đèn sương
                                                                                            mù</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đèn
                                                                                            pha</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đèn
                                                                                            LED</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span> Đèn địa
                                                                                            hình</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đèn tín
                                                                                            hiệu</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                    <li class="level3 nav-6-1 parent item"><a
                                                                            href="grid.html"><span>Hiệu
                                                                                    suất</span></a>
                                                                        <!--sub sub category-->
                                                                        <ul class="level1">
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Hệ thống
                                                                                            lấy khí</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Phanh</span></a>
                                                                            </li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Hệ thống
                                                                                            ống xả</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Power
                                                                                            Adders</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                            <li class="level2 nav-6-1-1"><a
                                                                                    href="grid.html"><span>Đồ bảo
                                                                                            hộ</span></a></li>
                                                                            <!--level2 nav-6-1-1-->
                                                                        </ul>
                                                                        <!--level1-->
                                                                        <!--sub sub category-->
                                                                    </li>
                                                                    <!--level3 nav-6-1 parent item-->
                                                                </ul>
                                                                <!--level0-->
                                                            </div>
                                                            <!--nav-block nav-block-center-->

                                                        </div>
                                                        <!--level0-wrapper2-->
                                                    </div>
                                                    <!--container-->
                                                </div>
                                                <!--level0-wrapper dropdown-6col-->
                                                <!--mega menu-->
                                            </li>
                                            <li class="level0 parent drop-menu"><a class="level-top"
                                                                                   href="#"><span>Danh sách‎</span></a>
                                                <ul class="level1">
                                                    <!-- <li class="level1 first"><a href="grid.html"><span>Lưới
                                                                ôtô</span></a></li> -->
                                                    <li class="level1 nav-10-2"><a th:href="@{/home/listcar?page=1}">
                                                                <span>Danh
                                                                    sách xe</span> </a></li>
                                                    <!-- <li class="level1 nav-10-3"> <a href="grid1.html"> <span>Lưới
                                                                phụ kiện</span> </a> </li> -->
                                                    <li class="level1 nav-10-4"><a th:href="@{/home/listphukien}">
                                                                <span>Danh
                                                                    sách phụ kiện</span> </a></li>
                                                    <!-- <li class="level1 first parent"><a
                                                            href="car-detail.html"><span>Chi tiết xe</span></a>
                                                    </li> -->
                                                    <!-- <li class="level1 first parent"><a
                                                            href="accessories-detail.html"><span>Chi tiết phụ
                                                                kiện</span></a> </li> -->
                                                </ul>
                                            </li>
                                            <li class="level0 parent drop-menu"><a class="level-top"
                                                                                   th:href="@{/home/blog}"><span>Diễn đàn</span></a>
                                                <!-- <ul class="level1">
                                                    <li class="level1 first"><a href="blog.html"><span>Danh sách
                                                                diễn đàn</span></a></li>
                                                    <li class="level1 nav-10-2"> <a href="blog-detail.html">
                                                            <span>Chi tiết diễn đàn</span> </a> </li>
                                                </ul> -->
                                            </li>
                                            <!-- <li class="mega-menu hidden-sm"> <a class="level-top"
                                                    href="compare.html"><span>So sánh ô tô‎</span></a> </li> -->
                                            <li class="level0 parent drop-menu"><a href="#"><span>Pages</span> </a>
                                                <!--sub sub category-->
                                                <ul class="level1">
                                                    <li class="level1"><a th:href="@{/home/about}"> <span>Về chúng
                                                                    tôi</span> </a></li>
                                                    <li class="level1" sec:authorize="isAuthenticated()"><a
                                                            th:href="@{/home/dashboard}"> <span>Trang Cá Nhân</span> </a></li>
                                                    <li sec:authorize="hasAuthority('USER')" class="level1 nav-10-4"><a
                                                            th:href="@{/home/member/shopping-cart}">
                                                        <span>Trang giỏ hàng</span> </a></li>
                                                    <li class="level1 first parent"><a
                                                            th:href="@{/home/checkout}"><span>Thanh toán</span></a>
                                                        <!--sub sub category-->
                                                        <!-- <ul class="level2 right-sub">
                                                            <li class="level2 nav-2-1-1 first"><a
                                                                    th:href="@{checkout-method.html"><span>Method</span></a>
                                                            </li>
                                                            <li class="level2 nav-2-1-5 last"><a
                                                                    th:href="@{checkout-billing-info.html"><span>Billing
                                                                        Info</span></a></li>
                                                        </ul> -->
                                                        <!--sub sub category-->
                                                    </li>
                                                    <li class="level1 nav-10-4"><a th:href="@{/home/wishlist}">
                                                                <span>Danh
                                                                    sách yêu thích</span> </a></li>
                                                    <!-- <li class="level1"> <a th:href="@{multiple-addresses.html"> <span>Các chi nhánh</span> </a> </li> -->
                                                    <li class="level1"><a th:href="@{/home/contact}"><span>Liên hệ
                                                                    chúng
                                                                    tôi</span></a></li>
                                                    <!-- <li class="level1"><a href="404error.html"><span>Không tìm thấy trang</span></a> </li> -->
                                                    <!-- <li class="level1"><a href="login.html"><span>Trang đăng nhập</span></a> </li> -->
                                                    <!-- <li class="level1"><a href="quickview.html"><span>Xem nhanh</span></a> </li>
                              <li class="level1"><a href="newsletter.html"><span>Bản tin</span></a> </li> -->
                                                </ul>
                                            </li>
                                            <li class="fl-custom-tabmenulink mega-menu"><a href="#"
                                                                                           class="level-top"> <span>Tùy chọn</span>
                                            </a>
                                                <div class="level0-wrapper fl-custom-tabmenu"
                                                     style="left: 0px; display: none;">
                                                    <div class="container">
                                                        <div class="header-nav-dropdown-wrapper clearer">
                                                            <div class="grid12-3">
                                                                <div><img th:src="@{/images/custom-img1.jpg}"
                                                                          alt="custom-image"></div>
                                                                <h4 class="heading">GIẢM GIÁ LÊN ĐẾN 30%</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit.</p>
                                                            </div>
                                                            <div class="grid12-3">
                                                                <div><img th:src="@{/images/custom-img2.jpg}"
                                                                          alt="custom-image"></div>
                                                                <h4 class="heading">GIẢM GIÁ LÊN ĐẾN 30%</h4>
                                                                <p>Sed et quam lacus. Fusce condimentum eleifend
                                                                    enim a feugiat.</p>
                                                            </div>
                                                            <div class="grid12-3">
                                                                <div><img th:src="@{/images/custom-img3.jpg}"
                                                                          alt="custom-image"></div>
                                                                <h4 class="heading">GIẢM GIÁ LÊN ĐẾN 30%</h4>
                                                                <p>Sed et quam lacus. Fusce condimentum eleifend
                                                                    enim a feugiat.</p>
                                                            </div>
                                                            <div class="grid12-3">
                                                                <div><img th:src="@{/images/custom-img4.jpg}"
                                                                          alt="custom-image"></div>
                                                                <h4 class="heading">GIẢM GIÁ LÊN ĐẾN 30%</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--nav-->
                                    </div>
                                </nav>
                            </div>
                        </div>

                        <!--row-->

                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</body>

</html>